#para{
    color: blue;
    line-height:1.7; 

}

h4{
    font-family:  'Dancing Script', cursive;
    font-size: 20px;
    background:#f71954 ;
    color: white;
    display: inline;
    transition:5s ;
    padding:5px;
    border: solid black;
    border-radius: 20px;
    box-shadow:3px 3px 15px grey;
    opacity: 0.3;
    transform:translatey(150px);   
}

.test {
    color:red;
    text-align: center;
    width: 1000px;
    height: 0px;
    cursor: pointer;
}

.test:hover {
    color: blue;
}

 body {
     background-image:url(https://images.unsplash.com/photo-1567591391293-f9a99c77e128?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
     background-size: cover;
     background-repeat: no-repeat;
     overflow-y: auto;
   
} 

ul{
    list-style-type:square;
    color: white;
}
